ul.responsibility-list {
    color: black;
    list-style-type: square;
    list-style-position: outside;
    padding-left: 2%;
    padding-right: 2%;
    font-size: calc(2px + 2vmin);
    font-family: 'Work Sans', sans-serif;
    border: 0;
    margin: 0;
}