.project-block {
    width: 90%;

}
.project-header-box {
    display: grid;
    width: 100%;
    grid-template-columns: 90% 10%;
    align-items: bottom;
    justify-content: stretch;

}
.project-header {
    border-bottom: 2px outset  black;
    align-items: left;
    font-size: calc(6px + 2vmin);
    font-family: 'Work Sans', sans-serif;
    text-shadow:
        -1px -1px 0  rgba(224,224,224,15%),
        1px -1px 0  rgba(224,224,224,15%),
        -1px 1px 0  rgba(224,224,224,15%),
        1px 1px 0  rgba(224,224,224,15%);
}
.project-header  a {
    font-weight: bolder;
}
.date {
    align-items: right;
    text-align: right;
}

.lbox {
    /* display: grid;
    grid-template-columns: 15px auto; */
    font-size: calc(1px + 1vmin);
    align-items: center;
    padding: 0%;
    color: black;
    text-shadow:
    -1px -1px 0  rgba(224,224,224,15%),
    1px -1px 0  rgba(224,224,224,15%),
    -1px 1px 0  rgba(224,224,224,15%),
    1px 1px 0  rgba(224,224,224,15%);
}                        
.l {
  transform: rotate(-90deg);
}

.rbox {
    /* display: grid;
    grid-template-columns: auto 25px; */
    font-size: calc(1px + 1vmin);
    align-items: center;
    text-align-last: right;
    padding: 0%;
    color: midnightblue;
    text-shadow:
    -1px -1px 0  rgba(224,224,224,15%),
    1px -1px 0  rgba(224,224,224,15%),
    -1px 1px 0  rgba(224,224,224,15%),
    1px 1px 0  rgba(224,224,224,15%);
}
.r {
    transform: rotate(90deg);
}
.middle {
    text-align: center;  
    vertical-align: top;
}
.line1 {
    align-items: left;
    height: 25px;
    width: auto;
    border-right: 4px solid black;
    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    align-items: center;
}
p {
    color: black;
    /* padding-left: 2%;
    padding-right: 2%; */
    font-size: calc(2px + 2vmin);
    font-family: 'Work Sans', sans-serif;
    border: 0;
    margin: 0;
}    
p em {
    font-weight: bold;
}
svg#hsbarl {
    border: 2px solid black;
    border-radius: 20px;
    /* border-left: 4px solid black;
    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg); */
  }
  svg#hsbarr {
    border: 2px solid midnightblue;
    border-radius: 20px;
    /* border-right: 4px solid black;
    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg); */
  }